.card{
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.element.style{
    position:static !important;
}
.modal {
    font-size: 12px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
   .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 1px 1px;
    line-height: 20px;
    right: -45px;
    top: -0px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 20px;
    opacity: 1 !important;
  }
  .heart{
    margin-top: 50px;
    top: 30 !important;
  }

  .love{
    border: 10px solid red !important;
  }
.right {float: right !important;}
/* Image zoom on hover + Overlay colour */
.parent {
    width: 100%;
    margin: 0px;
    height: 350px;
    border: 10px solid rgb(34, 34, 34);
    overflow: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.child {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.child div {
    display: none;
    font-size: 25px;
    color: #ffffff !important;
    font-family: sans-serif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    cursor: pointer;
    /*text-decoration: none;*/
}

.parent:hover .child, .parent:focus .child {
    -ms-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.parent:hover .child:before, .parent:focus .child:before {
    display: block;
}

.parent:hover div, .parent:focus div {
    display: block;
}

.child:before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(34, 34, 34,0.5);
}

/* Media Queries */
@media screen and (max-width: 960px) {
    .parent {width: 100%; margin: 20px 0px}
        .wrapper {padding: 20px 20px;}
}
